 .min_attraction {
      background-color: #d1ecfb;
      padding: 2px 2px 2px 5px;
      border: 1px solid blue;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 10px;
      select { width: 180px; }
      input { width: 182px; }
  }

  /* Cutting back the spacing on simple_form... */
  .form-horizontal .min_attraction .control-label {
      float: left;
      padding-top: 3px;
      text-align: right;
      width: 60px;
      font-size: 90%;
  }
  .form-horizontal .min_attraction .controls {
      margin-left: 70px;
      width: 240px;
  }