<div class="fields">
    <div class="min_attraction">
      <!-- x icon to remove -->
      <%= f.link_to_remove("x") %>
      <!-- fields -->
      <%= f.input :name %>
      <%= f.input :street %>
    </div>
  </div>
